workflows/Generate recommendation.json
{
  "active": false,
  "connections": {
    "stock price to string2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "stock price to string2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-16T07:14:01.787Z",
  "id": "BkIM990RCiQHoXX7",
  "isArchived": false,
  "meta": null,
  "name": "Generate recommendation",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Extract data sections\nconst cash = $input.all()[0].json.output.cash;\nconst data = $input.all()[1].json.output.data;\nconst prices = $input.all()[2].json.stock_prices;\n\n// Create a lookup map for prices by symbol\nconst priceMap = {};\nfor (const p of prices) {\n  priceMap[p.symbol] = p;\n}\n\n// Merge data with prices\nconst merged = data.map(d => {\n  const p = priceMap[d.Symbol] || {};\n  return {\n    name: d.Name,\n    symbol: d.Symbol,\n    reason: d.Reason,\n    expected_change_1d: d[\"Expected Change 1 Day\"],\n    certainty_1d: d[\"Certainty 1 Day\"],\n    expected_change_1w: d[\"Expected Change 1 Week\"],\n    certainty_1w: d[\"Certainty 1 Week\"],\n    expected_change_1m: d[\"Expected Change 1 Month\"],\n    certainty_1m: d[\"Certainty 1 Month\"],\n    current: p.current ?? null,\n    change: p.change ?? null,\n    percent_change: p.percent_change ?? null,\n    high: p.high ?? null,\n    low: p.low ?? null,\n    open: p.open ?? null,\n    previous_close: p.previous_close ?? null,\n    timestamp: p.timestamp ?? null\n  };\n});\n\nreturn [\n  {\n    json: {\n      cash,\n      merged\n    }\n  }\n];\n",
        "notice": ""
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        96
      ],
      "id": "7684475d-431f-4369-8562-f4a1d1bb1895",
      "name": "stock price to string2"
    },
    {
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        96
      ],
      "id": "53d79d14-1cec-4345-8b75-ebf7b319f027",
      "name": "AI Agent",
      "disabled": false,
      "parameters": {
        "aiAgentStarterCallout": "",
        "preBuiltAgentsCallout": "",
        "promptType": "define",
        "text": "=I want to have recommendations on which stocks to buy, if any.  \nI currently have this much cash: {{ $json.cash}}\n\n---------------------------------------------\nHere is combined data for each stock, including my analysis and the latest prices:\n{{ JSON.stringify( $json.merged) }}\n---------------------------------------------\n\nPlease analyze this merged data and recommend which stocks are most likely to generate short-term profit.  \nTake into account: expected change (1d, 1w, 1m), certainty values, and current performance metrics.  \nAssess momentum, price trend, and confidence.  \n\nOutput in a clear, human-readable format:\nFor each recommended stock, give:\n- Stock name and symbol  \n- Suggested amount of cash to allocate in SGD and respective currency of the stock and the amount of shares I can buy with it   \n- A short explanation (1–2 sentences) on why you recommend it  \n\nNo tables, no markdown, no headings — only plain text with line breaks between each recommendation.\n",
        "hasOutputParser": false,
        "needsFallback": false,
        "options": {}
      },
      "issues": {}
    },
    {
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        720,
        400
      ],
      "id": "cbd71c23-2cf3-4303-8d49-3df317f71d3b",
      "name": "Simple Memory",
      "disabled": false,
      "parameters": {
        "notice": "",
        "sessionIdType": "customKey",
        "sessionKey": "stocks",
        "contextWindowLength": 10
      },
      "issues": {}
    },
    {
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        320
      ],
      "id": "94c6f44f-4d51-44be-8c1b-6c627ed254fb",
      "name": "OpenAI Chat Model2",
      "disabled": false,
      "parameters": {
        "notice": "",
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "issues": {},
      "credentials": {
        "openAiApi": {
          "id": "A9mk8XXdg1omQECb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af2ea430-c6e4-4b43-9f13-845238f2a054",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        96
      ],
      "id": "7546bac9-de4a-4c28-8a8d-6d64b548c359",
      "name": "Return"
    },
    {
      "id": "f7830f7f-efff-46de-afca-7b92bc6c11d7",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        224,
        96
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-16T07:14:01.788Z",
      "createdAt": "2025-10-16T07:14:01.788Z",
      "role": "workflow:owner",
      "workflowId": "BkIM990RCiQHoXX7",
      "projectId": "XE0SNvkRwFuZabQN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-16T07:14:01.787Z",
  "versionId": "9a01f0ae-3448-4989-9688-930e61f63d3b"
}