workflows/Retrieves stock data and return structured output.json
{
  "active": false,
  "connections": {
    "Symbols": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "stock price to string",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-16T07:12:58.492Z",
  "id": "6CcwJ9IXHC2qreVG",
  "isArchived": false,
  "meta": null,
  "name": "Retrieves stock data and return structured output",
  "nodes": [
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "890a9cdd-520e-429e-811f-131c5bc3d2dd",
              "name": "output.symbols",
              "value": "={{ $json.output_symbols }}",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        240
      ],
      "id": "66950a35-63d2-4647-90a2-52e15971f04f",
      "name": "Symbols",
      "issues": {}
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [\n  {\n    json: {\n      stock_prices: $input.all().map(item => ({\n        symbol: item.json.symbol,\n        current: item.json.c,\n        change: item.json.d,\n        percent_change: item.json.dp,\n        high: item.json.h,\n        low: item.json.l,\n        open: item.json.o,\n        previous_close: item.json.pc,\n        timestamp: item.json.t\n      }))\n    }\n  }\n];\n",
        "notice": ""
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        256
      ],
      "id": "ab1bbd4f-0797-446a-b231-692cf1da5452",
      "name": "stock price to string",
      "issues": {}
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "curlImport": "",
        "method": "GET",
        "url": "=https://finnhub.io/api/v1/quote?symbol={{ $json.symbol }}&token=d3o8rlpr01qmj830a49gd3o8rlpr01qmj830a4a0",
        "authentication": "none",
        "provideSslCertificates": false,
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "FUWjszFxILSVEZDuoVjvaV1sBWM0lzlV"
            }
          ]
        },
        "sendHeaders": false,
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        384
      ],
      "id": "79a4e0a6-5290-45d7-b03b-d4a1c8ea7954",
      "name": "HTTP Request1",
      "disabled": false,
      "issues": {}
    },
    {
      "type": "n8n-nodes-base.code",
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return $input.first().json.output.symbols.map(item => { \n  return { \n    json: {\n      symbol: item,\n    }\n  }\n});",
        "notice": ""
      },
      "typeVersion": 2,
      "position": [
        1376,
        240
      ],
      "id": "c54cc5ab-39f7-4662-aa0c-8a55eef0443f",
      "name": "Code in JavaScript",
      "disabled": false
    },
    {
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1712,
        256
      ],
      "id": "0f70a697-031c-4f5e-ad29-f05ee28c33fd",
      "name": "Merge3",
      "disabled": false,
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 2,
        "options": {}
      }
    },
    {
      "id": "e82ec226-6a69-4fd2-b78d-9d29d6deb37e",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1024,
        240
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "output_symbols",
              "type": "any"
            }
          ]
        }
      }
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-16T07:12:58.493Z",
      "createdAt": "2025-10-16T07:12:58.493Z",
      "role": "workflow:owner",
      "workflowId": "6CcwJ9IXHC2qreVG",
      "projectId": "XE0SNvkRwFuZabQN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-16T07:12:58.492Z",
  "versionId": "e73cea8c-6bba-4af7-a786-4b5f463b5be5"
}